*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(Highways.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width: 60%;
    background-color: white;
    margin-top: 40%;
    border-radius: 20px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}